{% extends 'base.html.twig' %}

{% block title "Accueil" %}

{% block beforeContainer %}
<div class="home-container">
    <img src="{{ asset('images/market.jpg') }}" class="img-fluid img-home-container" alt="marché de fruits">
    <div class="text-home-container">
        <h1>Mon e-commerce Symfony</h1>
        <a href="{{ path("contact") }}" class="btn btn-secondary">Contactez nous !</a>
    </div>
</div>
{% endblock %}

{% block body %}

{% endblock %}