<div class="jumbotron mt-5">
    {% for plusVendu in listPlusVendu %}
        {% set product = plusVendu[0] %}
        <a href="{{ path('rayon', {idCategory: product.category.id}) }}">
                <div class="card">
                        <img src="{{ asset(product.visuel) }}" alt="" class="card-img-top">
                        {{ product.libelle }}: {{ plusVendu.quantite }} commandes
                </div>
        </a>
    {% endfor %}
</div>