<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}E-Commerce symfony{% endblock %}</title>
    {{ encore_entry_link_tags('style') }}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" href="{{ asset('images/favicon.ico') }}">
</head>
<body>
{{ include('navbar.html.twig') }}
<div class="container">
    {% block body %}
        <h1>A développer...</h1>
    {% endblock %}
</div>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
