{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>
    <div class="jumbotron">
        {% if user is not null %}
            <h2>Bonjour {{ user.prenom }} {{ user.nom }}</h2>
        {% else %}
            <h2>Aucun utilisateur trouvé</h2>
        {% endif %}
        <a href="{{ path('user.inscription') }}" class="btn btn-primary">Nouvel utilisateur</a>
    </div>

{% endblock %}
