{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Créer un utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user.accueil') }}">Voir l'utilisateur courant</a>
{% endblock %}
